* {
	font-family: 'Lato',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

@media (min-width: 1200px) {
 .container {
   width: 1230px;
 }
}

.navbar-toggler {
  border-color: #ea5f6f;
} 

.navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(234, 95, 111, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link{
	list-style-type: none;
	color:#1991c8;
	font-weight:500;
}
.nav-link:hover{
	color:#0b3351;
}

#logo{
	margin-bottom:5px;
	margin-top:5px;
}

.dark{
	background-color:rgba(0,0,0,0.3);
}

#presentation{
	margin-top:15px;
}

#agenda{
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(img/agenda.jpg);
	background-size: cover;
	text-align:center;
	color:white;
	padding:30px;
}

#artiste{
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(img/artiste.jpg);
	background-size: cover;
	text-align:center;
	color:white;
	padding:30px;
}

#formation{
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(img/formation.jpg);
	background-size: cover;
	text-align:center;
	color:white;
	padding:30px;
}

#plan{
	background-size: cover;
	text-align:center;
	padding:30px;
}

nav {
	background-color:white;
	-webkit-box-shadow: 3px 8px 16px -1px rgba(0,0,0,0.38);
	-moz-box-shadow: 3px 8px 16px -1px rgba(0,0,0,0.38);
	box-shadow: 3px 8px 16px -1px rgba(0,0,0,0.38);
}
nav:hover {
	background-color:white;
}

.social{
	color:#ea5f6f;
}

.social:hover{
	color:#0b3351;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height: 100%;
    width:100%;
    position:absolute;
}

.portrait{
	max-width:246px;
}

h2, h3{
	color:#ea5f6f;
}

.jumbotron {
background: #1991c8;
color:white;
border-radius: 0px;
}
.jumbotron-sm { 
	padding-top: 24px;
padding-bottom: 24px; }
.jumbotron small {
color: #ea5f6f;
}
